<div class="row">
  <div class="col-lg-2">
    <div class="logo">
      <img src="../../../assets/pictures/logo/Bear.png"/>
      <p class="logo_step2">GuTester</p>
    </div>
  </div>
  <div class="col-lg-1"></div>


<!--  <div class="col-lg-2 user_info" [ngClass]="{'hidden': !isAuthorized}">{{authorizedUser.role}}</div>-->
<!--  <div class="col-lg-2 user_info" [ngClass]="{'hidden': !isAuthorized}">{{authorizedUser.name}}</div>-->
<!--  <div class="col-lg-2 user_info" [ngClass]="{'hidden': !isAuthorized}">Рейтинг: {{authorizedUser.rating}}</div>-->

  <div class="col-lg-2 user_info">DEVELOPER</div>
  <div class="col-lg-2 user_info">Гудима Илья Алексеевич</div>
  <div class="col-lg-2 user_info">Рейтинг: 4.23</div>


  <div class="col-lg-1"></div>
  <div class="col-lg-2">
    <button (click)="exit()" [ngClass]="isAuthorized ? '' : 'hidden'" class="button_exit" routerLink="/login-component">Выйти</button>
  </div>
</div>

