.login_window {
  width: 520px;
  position: absolute;
  height: 275px;
  top: 35%;
  background: #C1BADC;
  border: 2px solid #4E3C8F;
  border-radius: 3px;
}

.button_sizer {
  width: 145px;
  height: 31px;
  font-family: 'Rubik';
  font-size: 12px;
  color: #4E3C8F;
  background: #D8D2EE;
  border: 2px solid #4E3C8F;
  border-radius: 3px;
}

input {
  width: 340px;
  height: 30px;
  background: #FFFFFF;
  border: 2px solid #4E3C8F;
  border-radius: 3px;
}

.contend_end {
  text-align: end;
}

.login_text {
  font-family: 'Rubik';
  font-size: 21px;
  color: #4E3C8F;
}

.login_table {
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
}

.input_title_margin {
  margin-bottom: 5px;
}

.input_margin {
  margin-bottom: 5px;
}
.reg_log_button {
  margin-top: 20px;
}
