<div class="row justify-content-center">
  <div class="col-lg-4">
      <div class="login_window">
            <table class="login_table">
              <tr>
                <td colspan="2">
                  <div class="login_text input_title_margin">Email</div>
                  <div class="input_margin"><input></div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="login_text input_title_margin">Пароль</div>
                  <div class="input_margin"><input></div>
                </td>
              </tr>
              <tr>
                <td><button type="button" class="button_sizer reg_log_button" routerLink="/registration-component">Регистрация</button></td>
                <td class="contend_end"><button type="button" class="button_sizer reg_log_button" routerLink="/personal-account-component">Войти</button></td>
              </tr>
            </table>
      </div>
  </div>
</div>

