<div class="row justify-content-center">
  <div class="col-lg-6">
      <div class="login_window">
            <table class="login_table">
              <tr>
                <td colspan="2">
                  <div class="login_text input_title_margin">Email:</div>
                  <div class="input_margin"><input></div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="login_text input_title_margin">Пароль:</div>
                  <div class="input_margin"><input></div>
                </td>
              </tr>
              <tr>
                <td class="button_reg"><button type="button" class="button_sizer" routerLink="/registration-component">Регистрация</button></td>
                <td class="button_log"><button type="button" class="button_sizer">Войти</button></td>
              </tr>
            </table>
      </div>
  </div>
</div>

