.login_window {
  width: 520px;
  position: absolute;
  height: 335px;
  top: 32%;
  background: #C1BADC;
  border: 2px solid #4E3C8F;
  border-radius: 3px;
}

.cont_center{
  text-align: center;
}

.cont_start{
  text-align: start;
}

.cont_end{
  text-align: end;
}


.button_sizer {
  width: 145px;
  height: 31px;
  font-family: 'Rubik';
  font-size: 16px;
  color: #4E3C8F;
  background: #D8D2EE;
  border: 2px solid #4E3C8F;
  border-radius: 3px;
}

input {
  width: 340px;
  height: 30px;
  background: #FFFFFF;
  border: 2px solid #4E3C8F;
  border-radius: 3px;
}

.button_reg {

}

.button_log {
  text-align: end;
}

.login_text {
  font-family: 'Rubik';
  font-size: 21px;
  color: #4E3C8F;
}

.login_table {
  margin-top: 9%;
  margin-left: auto;
  margin-right: auto;
}

.input_title_margin {
  margin-bottom: 10px;
}

.input_margin {
  margin-bottom: 15px;
}
