<div class="notification_window">
  <div class="cross_button_div" align="end"><img (click)="close()" class="cross_button" src="../../../assets/pictures/notificationBox/cross.png" height="15" width="15"/></div>
  <div class="notification_window_text"><img src="../../../assets/pictures/notificationBox/sadBear.png" height="36" width="37"/></div>
  <div class="notification_window_message">{{notificationMessage}}</div>
  <div class="notification_window_button"><button (click)="close()" class="close_button">Закрыть</button></div>
</div>
