<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="personal_account_window">
      <table class="personal_account_table">
        <tr>
          <td class="text-center" colspan="2">
            <button type="button" class="personal_account_button" (click)="open(selectOs)">{{this.buttonTest}}</button>
          </td>
        </tr>
        <tr>
          <td class="personal_account_td">
            <app-list-summary (output)="selectSummary($event, rejectModal)" [header]="'Ждут одобрения администратора'" [listSummary]="waitingForApproval"></app-list-summary>
          </td>
          <td class="personal_account_td" align="right">
            <app-list-summary (output)="selectSummary($event)" [header]="'Одобренные'" [listSummary]="approved"></app-list-summary>
          </td>
        </tr>
        <tr>
          <td class="personal_account_td">
            <app-list-summary (output)="selectSummary($event)" [header]="'Текущие'" [listSummary]="active"></app-list-summary>
          </td>
          <td class="personal_account_td" align="right">
            <app-list-summary  (output)="selectSummary($event)" [header]="'Законченные'" [listSummary]="completed"></app-list-summary>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<ng-template #rejectModal let-modal>
  <div>
    {{adminComment}}
  </div>
  <div>
    <button (click)="removeOrder(modal)">Удалить</button>
    <button (click)="reopenOrder(modal)">Переоткрыть</button>
  </div>
</ng-template>

<ng-template #selectOs let-modal>
  <div>
    <button (click)="iosClick(modal)">iOS</button>
    <button (click)="androidClick(modal)">Android</button>
  </div>
</ng-template>
