<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="personal_account_window">
      <table class="personal_account_table">
        <tr>
          <td class="text-center" *ngIf="this.buttonText1 != ''">
            <button type="button" class="personal_account_button" (click)="open(selectOs)">{{this.buttonText1}}</button>
          </td>
          <td class="text-center" *ngIf="this.buttonText2 != ''">
            <button type="button" class="personal_account_button">{{this.buttonText2}}</button>
          </td>
        </tr>
        <tr>
          <td class="personal_account_td">
            <app-list-summary (output)="list1Handler($event, rejectModal)" [header]="header1" [listSummary]="list1"></app-list-summary>
          </td>
          <td class="personal_account_td" align="right">
            <app-list-summary (output)="list2Handler($event)" [header]="header2" [listSummary]="list2"></app-list-summary>
          </td>
        </tr>
        <tr>
          <td class="personal_account_td">
            <app-list-summary (output)="selectSummary($event)" [header]="header3" [listSummary]="list3"></app-list-summary>
          </td>
          <td class="personal_account_td" align="right" *ngIf="header4!=''">
            <app-list-summary  (output)="selectSummary($event)" [header]="header4" [listSummary]="list4"></app-list-summary>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<ng-template #rejectModal let-modal>
  <div>
    {{adminComment}}
  </div>
  <div>
    <button (click)="removeOrder(modal)">Удалить</button>
    <button (click)="reopenOrder(modal)">Переоткрыть</button>
  </div>
</ng-template>

<ng-template #selectOs let-modal>
  <div>
    <button (click)="iosClick(modal)">iOS</button>
    <button (click)="androidClick(modal)">Android</button>
  </div>
</ng-template>
